@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.button-booking {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-subscribe {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-social-network {
  text-decoration: none;
  color: #83b3d3;
  background-color: #ffffff;
}

.button-catalog {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-block input {
  font-family: inherit;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.nav-user-link {
  color: inherit;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.button-header {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.main-index {
  background-color: #ffffff;
}

.section-welcome {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/steps-under-welcome.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}

.advanages-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-with-image {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-without-image {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-beautiful-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-description-with-image {
  color: #ffffff;
}

.services-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.other-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.subscription {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.page-footer {
  background-color: #ffffff;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-inner {
  background-color: #ffffff;
}

.hotels-sedona {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.catalog-filter {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
}

.button-apply {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.search-hotel {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  color: #333333;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.view {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.hotel {
  font-weight: 400;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.button-more {
  background-color: #756157;
}

.not-selected {
  background-color: #82b3d3;
}

.selected {
  background-color: #7db54f;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.appointment-catalog {
  background-color: #ffffff;

}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
